.card-img-overlay {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card:hover .card-img-overlay {
    opacity: 0.75;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
