.card {
    position: relative;
    overflow: hidden;
}

.card-img {
    transition: filter 1s ease-in-out;
}

.card:hover .card-img {
    filter: brightness(70%);
}

.card-img-overlay {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
}

.card:hover .card-img-overlay {
    opacity: 1;
}

.card-info {
    flex-grow: 1;
}

.btn-watch-now {
    margin-top: 1rem;
}

.link {
    opacity: 50%;
    transition: opacity 0.3s ease-in-out;
    text-decoration: none;
    color: white;
}

.link:hover {
    opacity: 100%;
}

.footer {
    height: 50px;
}

.positive-review-bg {
    background-color: rgba(25, 135, 84, 0.5);
}
.neutral-review-bg {
    background-color: #343a40;
}
.negative-review-bg {
    background-color: rgba(135, 25, 25, 0.5);
}

.positive-review {
    color: rgba(25, 135, 84, 0.5);
}
.neutral-review {
    color: #ffffff;
}
.negative-review {
    color: rgba(135, 25, 25, 0.5);
}

.full-stars {
    text-align: center;
}
.full-stars .rating-group {
    display: inline-flex;
}
.full-stars input {
    position: absolute;
    left: -9999px;
}
.full-stars label {
    margin: 0;
    cursor: pointer;
}
.full-stars label svg {
    margin: 2px;
    height: 40px;
    width: 40px;
    fill: #949494;
    transition: fill 0.3s;
}
.full-stars input:checked ~ label svg {
    fill: #ffffff;
}
.full-stars .rating-group:hover label svg {
    fill: #949494;
}
.full-stars .rating-group input:hover ~ label svg {
    fill: #ffffff;
}
